* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 200px;
  background-color: burlywood;
  background-image: url("chris-liverani-rD2dc_2S3i0-unsplash.jpg");
}

.calculator {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 80vw;
  height: auto;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: minmax(80px, auto) repeat(5,80px);
}

#output {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  grid-column: span 4;
  text-align: right;
  font-size: 28px;
  background-color: rgb(99, 231, 99);
  color: white;
}

.numberButton {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  background-color: rgb(99, 231, 99);
  color: white;
  font-size: 20px;
}

.operationButton {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  background-color: rgb(128, 231, 128);
  color: gray;
  font-size: 20px;
}

#allClearButton {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  grid-column: span 2;
  background-color: rgb(99, 231, 99);
  color: white;
  font-size: 20px;
}

#clearButton {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  grid-column: span 2;
  background-color: rgb(99, 231, 99);
  color: white;
  font-size: 20px;
}

/* .decimalButton {
  border-style: groove;
  border-width: 1px;
  border-color: white;
  background-color: rgb(99, 231, 99);
  color: white;
  font-size: 20px;
} */

#equalsButton {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  background-color: rgb(99, 231, 99);
  color: white;
  font-size: 20px;
}